<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
    <bean id="potato" class="com.caz.domin.Potato"></bean>
<!--    id为花名  class定位对应位置-->
    <bean id="meat" class="com.caz.domin.Meat">    </bean>
</beans>